# Exclude Python cache files
__pycache__/

# Exclude virtual environment directories
venv/

# Exclude environment variable files
.env

# Include the pdf folder
!/models/pdf/

# Ignore everything inside the pdf folder
/models/pdf/*
